* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.incorrect {
    color: red;
}
body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: #ffcc00;
    margin: 20px 0;
    font-size: 2rem;
}

form {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffcc00;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

input[type="submit"] {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background-color: #ffcc00;
    color: #333333;
    border: none;
    padding: 8px 17px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #e64a19;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 20px auto;
}

td {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222;
    color: black;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #444;
}

td.buid {
    background-color: #121212;
    border: 5px dashed #444;
}

.panel {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    color: #ffcc00;
}