* {
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: black;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px dotted black;
    /* Cercle amb punts blancs */
    background-color: white;
    /* Fons negre o pot ser un altre color */
    display: inline-block;
    margin: 10px;
    color: black;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}
input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px 12px;
}
input:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}

.buid {
    background-color: black;
    /* Color blanc per cercles buits */
    border-color: white;
    /* Puntes negres per millor visibilitat */
}